extends layout

block header
	include header-contact

block content
	div.container
		h1 YummyRation Headquarters
		p Contact our "Chefs" to learn more about our delicious food
		img.img-responsive(src="/images/YummyRation.jpg")
		p
		| YummyRation Corp.
		br
		| North Pole, H0H 0H0
		br
		| CANADA
		br
		| Tel: 1-202-555-0186
		br
		| email: yummyration@example.com
